# WARNING: Change all passwords and secrets before deploying to production!
# These are example values for local development only.
# this .env file is only for docker, there is a .env file in each backend / frontend folder for local development

MYSQL_ROOT_PASSWORD=root
MYSQL_PASSWORD=mypassword
JWT_SECRET=mysecret
JWT_EXPIRES_IN=7d
VITE_API_URL=http://localhost:3000
